.remote-users {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-4-2);
    margin-left: var(--size-4-2);

    span {
        border-radius: var(--radius-l);
        padding: 0 var(--size-4-1);
        border-width: 1.4px;
        border-style: solid;
        font-size: var(--font-smallest);
        font-style: italic;
    }
}
