# npm
node_modules

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Rust build folder
backend/target

frontend/*/dist

backend/db.sqlite3*
backend/databases
backend/config.yml

*.log

plugin/coverage
