# npm
node_modules

# Exclude macOS Finder (System Explorer) View States
.DS_Store



# Frontend build folders
frontend/*/dist

sync-server/db.sqlite3*
sync-server/databases

# Rust build folders
sync-server/target
sync-server/bindings/*.ts

*.log
*.sqlx
